
/* Start of navbar section */
.custom-nav{
	background-color: #404040;
	padding: 18px;
	margin-bottom: 0px;
}
.navbar-brand img{
	width: 120px;
    height: 86px;
    margin-top: -33px;
}
.navbar-default .navbar-nav > li > a{
	color: white;
	font-weight: bold;
}
.navbar-default .navbar-nav > li > a:hover{
	font-size: 20px;
	color: orange;
}
.navbar-nav > li > .dropdown-menu{
	margin-top: 10px;
}

.dropdown-menu > li{
	margin-top: 0px;
	margin-bottom: 0px;
}
.dropdown-menu > li > a{
	padding: 10px 20px;
}

.dropdown-menu > li > a:hover{
	background-color: #0377fc;
	color: white;
	font-size: 16px;
}
@media(min-width: 769px) and (max-width: 991px){
	.navbar-nav > li > a{
		font-size: 12px;
		padding-right: 10px;
		padding-left: 10px;
	}
	.navbar-nav{
		margin-right: -50px;
	}
	
}
@media(max-width: 768px){
	.navbar-default .navbar-nav > li > a {
		text-align: center;
	}
	.navbar-brand img{
		max-width: 100px;
		min-height: 50px;
		
	}
	.navbar-nav .open .dropdown-menu > li > a{
		text-align: center;
		color: white !important;
	}
	.navbar-nav .open .dropdown-menu > li > a:hover{
		background-color: #e7e7e7 !important;
		color: #555 !important;
	}
	.navbar-collapse{
		border-top: none;
	}
}
/* End of navbar section */

/* Start of home section */
.home-section{
	background-image: url("image.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	min-height: 100vh;
	position: relative;
}
.home-section .home-title{
	position: absolute;
	padding: 5px;
	top: 65%;
	left: 3%;
	font-size: 30px;
	color: white;
	border: 10px solid white;
}
@media(max-width: 768px){
	.home-section .home-title{
		width: 144px;
		top: 20%;
		text-align: center;
		font-size: 25px;
	}
}
@media(min-width: 769px) and (max-width: 991px){
	.home-section .home-title{
		width: 144px;
		top: 20%;
		text-align: center;
	}
}
@media(min-width: 992px) and (max-width: 1200px){
	.home-section .home-title{
		font-size: 20px;
	}
}
/* End of home section */


